@media screen and (max-width: 800px) {
  /*RECRUITER*/
  .recruiter__main {
    margin-top: 100px;
  }
  .recruiter__cardProfile {
    position: relative;
    width: 350px;
    height: 600px;
    background: #ffffff;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    padding-right: 20px;
  }
  .recruiter__buttonCardProfile {
    position: relative;
    top: 1100px;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    background: #5e50a1;
    border-radius: 4px;
    border: none;
    color: #ffffff;
  }
  .recruiter__buttonCardProfile:hover {
    color: #ffffff;
    background: #fbb017;
  }
  .recruiter__cardEdit {
    position: relative;
    width: 350px;
    left: -100px;
    top: 650px;
    height: 1000px;
    background: #ffffff;
    border-radius: 8px;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  /*EMPLOYEE*/
  .profile__main {
    height: 4500px;
  }
  .profile__master {
    height: 2200px;
  }
  .employer__cardProfile {
    width: 350px;
  }
  .employer__profileInfo {
    text-align: center;
  }

  .employer__buttonCardProfile {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    background: #5e50a1;
    border-radius: 4px;
    border: none;
    color: #ffffff;
  }
  .employer__buttonCardProfile:hover {
    color: #ffffff;
    background: #fbb017;
  }
  .employer__cardEdit {
    width: 350px;
    margin-left: -100px;
    position: relative;
    top: 800px;
  }
  .employer__skillEdit {
    width: 350px;
    margin-left: -100px;
    position: relative;
    top: 800px;
  }
  .employer__buttonSkillProfile {
    position: relative;
    top: 300px;
    left: -300px;
  }
  .employer__skillList {
    width: 200px;
  }
  .employer__workEdit {
    width: 350px;
    margin-left: -100px;
    position: relative;
    top: 800px;
  }

  .employer__portfolioEdit {
    width: 350px;
    margin-left: -100px;
    position: relative;
    top: 800px;
  }
  .employer__uploadImagePorto {
    height: 400px;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    border: 2px dashed #9ea0a5;
  }
  .employer__textUpload1 {
    margin-top: 50px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1f2a36;
  }
}
